<template>
    <div class="gallery-container">
        <div class="gallery-images">
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
            <div class="images">
                <img
                    class="image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6-dHFdjgKeSSrIByMT4EHHqxQh4_uk3Eg63ByDvCZuF_FEMOf"
                    alt=""
                />
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.gallery-container {
    margin: 0 auto;
    width: 1400px;
    padding-left: 0;
    font-size: 0;
}

.gallery-images {
    margin-left: -15px;
    margin-right: -15px;
}

.images {
    display: inline-block;
    font-size: 18px;
    max-width: 334px;
    width: 25%;
    line-height: 50px;
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
}

.image {
    text-align: center;
    border: 10px solid black;
    border-radius: 12px;
}
@media screen and (max-width: 400px) {
    .gallery-images {
        text-align: left;
        margin-left: 5%;
    }
}
@media screen and (min-width: 1px) and (max-width: 550px) {
    .gallery-container {
        width: 400px;
    }

    .images {
        width: 100%;
    }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
    .gallery-container {
        width: 600px;
    }
    .images {
        width: 100%;
    }
}
@media screen and (min-width: 751px) and (max-width: 1030px) {
    .gallery-container {
        width: 800px;
    }
    .images {
        width: 50%;
    }
}
@media screen and (min-width: 1031px) and (max-width: 1385px) {
    .gallery-container {
        width: 1000px;
        text-align: left;
    }
    .images {
        width: 33%;
    }
}
@media screen and (min-width: 1385px) {
    .gallery-container {
        width: 1200px;
        text-align: left;
    }
}
</style>
