<template>
    <div class="products-container">
        <div class="product-container">
            <div class="product" v-for="item in getProducts()" :key="item.id">
                <Product
                    class="item"
                    :id="item.id"
                    :name="item.name"
                    :image="item.images[0]"
                    :min-count="item.minCount"
                    :price="item.price"
                    :updateCartItem="updateCartItem"
                />
            </div>
        </div>
    </div>
</template>

<script>
import Product from '@/components/Product';
import ProductService from '@/services/ProductService.ts';

export default {
    components: {
        Product
    },
    props: ['updateCartItem'],
    methods: {
        getProducts() {
            const productService = new ProductService();
            return productService.getProducts();
        }
    }
};
</script>

<style lang="scss">
.products-container {
    margin: 0 auto;
    padding-left: 0;
    font-size: 0;
}

.product-container {
    margin-left: -15px;
    margin-right: -15px;
}

.product {
    display: inline-block;
    font-size: 18px;
    max-width: 334px;
    width: 25%;
    line-height: 50px;
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
}

.productPicture {
    border-radius: 30px 30px 0 0;
}

.agile__list {
    height: 200px;
    border-radius: 30px 30px 0 0;
}

.item {
    text-align: center;
    border-radius: 30px;
}

.slide {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.agile__dots {
    bottom: -5px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.agile__dot {
    margin: 0 5px;
    border-radius: 35px;
}

.agile__dot.agile__dot--current {
    background-color: #42b983;
}

.agile__dot button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
    width: 10px;
}

.agile {
    &__nav-button {
        background: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 24px;
        height: 100%;
        position: absolute;
        top: 0;
        transition-duration: 0.3s;
        width: 50px;
        &:hover {
            background-color: rgba(#000, 0.5);
            opacity: 1;
        }

        &--prev {
            left: 0;
            border-radius: 30px 0 0 0;
        }

        &--next {
            right: 0;
            border-radius: 0 30px 0 0;
        }

        &--current,
        &:hover {
            button {
                background-color: #fff;
            }
        }
    }
}

@media screen and (min-width: 1px) and (max-width: 550px) {
    .products-container {
        width: 400px;
    }

    .product-container {
        width: 100%;
    }

    .product {
        width: 100%;
    }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
    .products-container {
        width: 600px;
    }
    .product {
        width: 100%;
    }
}
@media screen and (min-width: 751px) and (max-width: 1030px) {
    .products-container {
        width: 800px;
        text-align: center;
    }
    .product {
        width: 50%;
    }
}
@media screen and (min-width: 1031px) and (max-width: 1385px) {
    .products-container {
        width: 1000px;
        text-align: left;
    }
    .product {
        width: 33%;
    }
}
@media screen and (min-width: 1385px) {
    .products-container {
        width: 1200px;
        text-align: left;
    }
}
</style>
