<template>
    <div>
        <div id="Basket">
            <button
                class="close-basket-btn"
                v-on:click="closeBasket(), closeCheckout(), addOrderBtn()"
            >
                x
            </button>
            <div class="basket-checkout">
                <div id="items-in-basket">
                    <div v-if="price === 0">
                        <p>Choď späť a nakúp si niečo.</p>
                    </div>
                    <ul>
                        <li v-for="(value, index) in cartItems" :key="index">
                            <ItemWidget
                                :id="index"
                                :value="value"
                                :updateCartItem="updateCartItem"
                            />
                        </li>
                    </ul>
                </div>
                <component :is="current"></component>
            </div>
            <div class="basket-footer">
                <p class="price-summary">Celková suma: {{ price }} Eur</p>
                <button
                    id="CloseBtn"
                    v-on:click="closeBasket(), closeCheckout(), addOrderBtn()"
                >
                    Späť nakupovať
                </button>
                <button
                    id="CheckOutBtn"
                    v-on:click="
                        openCheckout(),
                            closeBasket(),
                            removeCheckoutBtn(),
                            removeOrderBtn()
                    "
                >
                    Objednávka
                </button>
                <button
                    id="OrderBtn"
                    class="order-btn"
                    type="submit"
                    @click="current = 'FormAdress'"
                >
                    Pokračovať v objednávke
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import FormAdress from '@/components/FormAdress.vue';
import FormBasicData from '@/components/FormBasicData.vue';
import ItemWidget from '@/components/ItemWidget.vue';
import ProductService from '@/services/ProductService';

export default {
	components: {
        ItemWidget,
        FormBasicData,
        FormAdress
    },
    watch: {
        cartItems() {
            this.price = this.calculatePrice();
        }
    },
    data() {
        return {
            item: {},
            price: this.calculatePrice(),
            current: FormBasicData
        };
    },
    props: ['cartItems', 'updateCartItem'],
    methods: {
        submit() {
            this.$refs.form.handleSubmit();
        },
        calculatePrice() {
            let totalPrice = 0;
            const productsService = new ProductService();
            for (const id in this.cartItems) {
                const count = this.cartItems[id];
                const price = productsService.getProductById(id).price;
                totalPrice += count * price;
            }
            return totalPrice.toFixed(2);
        },
        closeBasket() {
			this.current = FormBasicData
            const element = document.getElementById('Basket');
            element.classList.remove('basket-open');
        },
        openCheckout() {
            const element = document.getElementById('Basket');
            element.classList.add('checkout-open');
            const check = document.getElementById('items-in-basket');
            check.classList.add('checkout-open-list');
            check.classList.add('hide-basket');
            check.classList.remove('basket-open-list');
        },
        closeCheckout() {
            const element = document.getElementById('Basket');
            element.classList.remove('checkout-open');
        },
        removeCheckoutBtn() {
            const el = document.getElementById('CheckOutBtn');
            el.classList.add('checkout-btn-disable');
        },
        addOrderBtn() {
            const el = document.getElementById('OrderBtn');
            el.classList.add('order-btn');
        },
        removeOrderBtn() {
            const el = document.getElementById('OrderBtn');
            el.classList.remove('order-btn');
        }
    }
};
</script>

<style lang="scss" scoped>
#Basket {
    text-align: left;
    position: fixed;
    overflow: hidden;
    transition: 0.3s;
    width: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.87);
}

#CheckoutForm {
    height: 100%;
}

#Basket.basket-open * {
    transition: none;
}

.basket-checkout {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 70%;
}
.checkout-btn-disable {
    display: none;
}
.order-btn {
    display: none;
}

#Basket.basket-open {
    width: 25%;
}

#Basket.checkout-open {
    width: 100%;
}

.basket-open-list {
    min-width: 100%;
}

.checkout-open-list {
    min-width: 50%;
}
.hide-basket {
    display: block;
}

#items-in-basket {
    margin-right: 0;
    color: #ffffff;
    font-size: 30px;
    height: 100%;
    background-color: #42b983;
    text-align: center;
    overflow: scroll;
}

.close-basket-btn {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
}

#Basket ul {
    list-style-type: none;
    padding-left: 0;
    margin: 3px auto;
}

.basket-footer {
    text-align: center;
    margin-bottom: 20px;
}

.basket-footer p {
    font-size: 1.8rem;
    font-weight: bold;
}

.basket-footer button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid black;
    color: black;

    margin-right: 20px;
    padding: 10px;
}

.price-summary {
    color: white;
    margin: 15px auto;
}

//Media
@media screen and (max-width: 1800px) {
    #Basket.basket-open {
        width: 30%;
    }
}
@media screen and (max-width: 1550px) {
    #Basket.basket-open {
        width: 40%;
    }
}
@media screen and (max-width: 1250px) {
    #Basket.basket-open {
        width: 50%;
    }
}
@media screen and (max-width: 950px) {
    #Basket.basket-open {
        width: 70%;
    }
}
@media screen and (max-width: 750px) {
    #Basket.basket-open {
        width: 100%;
    }
    .hide-basket {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    #OrderBtn,
    #CheckOutBtn,
    #CloseBtn {
        font-size: 0.8rem;
    }
}
</style>
