<template>
    <Slide width="250">
        <ul>
            <li>
                <router-link to="/">Home</router-link>
            </li>
            <li>
                <router-link to="/about">About</router-link>
            </li>
            <li>
                <router-link to="/gallery">Gallery</router-link>
            </li>
            <li>
                <router-link to="/products">Products</router-link>
            </li>
            <li>
                <router-link to="/contact">Contact</router-link>
            </li>
        </ul>
    </Slide>
</template>
<script>
import { Slide } from 'vue-burger-menu';

export default {
    components: {
        Slide
    }
};
</script>

<style lang="scss">
.bm-menu {
    background-color: rgba(63, 63, 65, 0.81);
}

.slideLeft {
    width: 0;
}

.bm-item-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.7em;
}
.bm-item-list > * > * {
    font-weight: 700;
    color: white;
    list-style-type: none;
    line-height: 50px;
}
</style>
