<template>
    <div id="CheckoutForm">
        <div class="container">
            <div class="row">
                <div class="form-wrapper">
                    <div>
                        <form @submit.prevent="handleSubmit">
                            <h2>Vaša adresa</h2>
                            <div class="form-group">
                                <label for="street">Ulica</label>
                                <input
                                    type="text"
                                    v-model="user.street"
                                    id="street"
                                    name="street"
                                    class="form-control"
                                    :class="{
                                        'is-invalid':
                                            submitted && $v.user.street.$error
                                    }"
                                />
                                <div
                                    class="error"
                                    v-if="!$v.user.street.minLength"
                                >
                                    Street must have at least 3 letters.
                                </div>
                                <div
                                    v-if="submitted && !$v.user.street.required"
                                    class="invalid-feedback"
                                >
                                    Street and number is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city">Mesto alebo obec</label>
                                <input
                                    type="text"
                                    v-model="user.city"
                                    id="city"
                                    name="city"
                                    class="form-control"
                                    :class="{
                                        'is-invalid':
                                            submitted && $v.user.city.$error
                                    }"
                                />
                                <div
                                    class="error"
                                    v-if="!$v.user.city.minLength"
                                >
                                    City must have at least 3 letters.
                                </div>
                                <div
                                    v-if="submitted && !$v.user.city.required"
                                    class="invalid-feedback"
                                >
                                    City is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="provincialCode">
                                    Mobil/telefón
                                </label>
                                <input
                                    type="number"
                                    v-model.number="user.provincialCode"
                                    id="provincialCode"
                                    name="provincialCode"
                                    class="form-control"
                                    :class="{
                                        'is-invalid':
                                            submitted &&
                                            $v.user.provincialCode.$error
                                    }"
                                />
                                <div
                                    v-if="
                                        submitted &&
                                            !$v.user.provincialCode.required
                                    "
                                    class="invalid-feedback"
                                >
                                    Number is required
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators';

export default {
    name: 'app',
    data() {
        return {
            user: {
                street: '',
                city: '',
                provincialCode: ''
            },
            submitted: false
        };
    },
    validations: {
        user: {
            street: { required, minLength: minLength(3) },
            city: { required, minLength: minLength(3) },
            provincialCode: { required }
        }
    },
    methods: {
        handleSubmit() {
            this.submitted = true;
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }

            alert('SUCCESS!! :-)\n\n' + JSON.stringify(this.user));
        }
    }
};
</script>

<style lang="scss" scoped>
#CheckoutForm {
    width: 100%;
    height: 100%;
    overflow: scroll;
    & {
        h2 {
            font-size: 2rem;
            color: white;
            margin-top: 0;
        }
    }
}
.container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}
.form-wrapper {
    width: 50%;
}
.form-group {
    padding-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group label {
    color: white;
}
.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545;
}

.invalid-feedback,
.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

//Media
@media screen and (max-width: 450px) {
    .form-wrapper {
        margin-left: 10%;
        width: 70%;
    }
}
</style>
