<template>
    <div id="ItemWidget">
        <img :src="product.images" alt="" />
        <p>{{ product.name }}</p>
        <input
            type="number"
            v-on:change="test, numberMinMax()"
            v-model.number="valueCount"
        />
        <p>{{ productPrice().toFixed(2) }} Eur</p>
        <button v-on:click="updateCartItem(id, 0, true)">Odstrániť</button>
        <p>{{ error }}</p>
    </div>
</template>

<script>
import ProductService from '@/services/ProductService';

export default {
    props: ['id', 'value', 'updateCartItem'],
    computed: {
        product() {
            const serv = new ProductService();
            return serv.getProductById(this.id);
        }
    },
    watch: {
        value() {
            this.valueCount = this.value;
        }
    },
    data() {
        return {
            valueCount: this.value,
            error: ''
        };
    },
    methods: {
        test() {
            this.error = '';
            if (!this.validateNumber()) {
                this.error = 'Fuck!! You write some shit!';
                return;
            }
            this.updateCartItem(this.id, this.valueCount);
        },
        validateNumber() {
            const re = /^[0-9]+$/;
            return re.test(this.valueCount);
        },
        numberMinMax() {
            if (this.valueCount < 5) {
                this.valueCount = 5;
            } else if (this.valueCount > 500) {
                this.valueCount = 500;
            }
            this.updateCartItem(this.id, this.valueCount);
        },
        productPrice() {
            return this.product.price * this.valueCount;
        }
    }
};
</script>

<style lang="scss" scoped>
#ItemWidget {
    font-size: 1rem;
    font-weight: bold;
    height: 60px;
    width: 100%;
    color: black;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 5px 0;
    align-items: center;
}

#ItemWidget img {
    width: 60px;
    height: 95%;
}
button {
    background-color: #42b983;
    height: 95%;
    width: 100px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
input {
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    width: 70px;
    text-align: center;
}
</style>
