<template>
    <div id="product">
        <div class="product-picture">
            <VueAgile>
                <div class="slide">
                    <img :src="image" alt="" />
                </div>
                <div class="slide">
                    <img :src="image" alt="" />
                </div>
                <div class="slide">
                    <img :src="image" alt="" />
                </div>
            </VueAgile>
        </div>
        <h2>{{ name }}</h2>
        <h3>Cena za jeden kus : {{ price }} Eur</h3>
        <div class="pick-buttons">
            <button v-if="pickCount > minCount + 4" @click="minus(5)">
                -
            </button>
            <button v-else v-bind:style="disabledBtn">-</button>
            <input
                type="number"
                v-on:change="numberMinMax"
                v-model.number="pickCount"
            />
            <button v-if="pickCount < 500 - 4" @click="plus(5)">+</button>
            <button v-else v-bind:style="disabledBtn">+</button>
        </div>

        <button
            id="AddToBasket"
            v-on:click="() => updateCartItem(id, pickCount)"
        >
            Pridať
            <font-awesome-icon :icon="['fas', 'shopping-cart']" />
        </button>
    </div>
</template>

<script>
import { VueAgile } from 'vue-agile';
export default {
    components: {
        VueAgile
    },
    props: ['image', 'name', 'id', 'price', 'minCount', 'updateCartItem'],
    data() {
        return {
            disabledBtn: {
                backgroundColor: 'rgba(63,63,65,0.79)'
            },
            pickCount: this.minCount
        };
    },
    methods: {
        plus($number) {
            this.pickCount += $number;
        },

        minus($number) {
            this.pickCount -= $number;
        },
        numberMinMax() {
            if (this.pickCount < 5) {
                return (this.pickCount = 5);
            } else if (this.pickCount > 500) {
                return (this.pickCount = 500);
            }
        }
    }
};
</script>

<style lang="scss" scoped>
#product p {
    font-size: 0.8rem;
    line-height: 20px;
}
#product {
    background-color: lightgray;
}

#product .product-picture {
    height: 100%;
}
img {
    max-width: 100%;
    border-radius: 30px 30px 0 0;
}
#AddToBasket {
    background-color: #42b983;
    border-radius: 0 0 30px 30px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    font-size: 1rem;
}
#AddToBasket:hover {
    cursor: pointer;
}
#AddToBasket::selection {
    background-color: rgba(96, 99, 255, 0);
}
.maxBtn {
    background-color: white;
}
.product h3 {
    font-size: 0.8rem;
    line-height: 1rem;
}
#product h2 {
    margin-top: 10px;
}

.pick-buttons {
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #42b983;
}

.pick-buttons button {
    width: 25%;
    font-size: 2rem;
    outline: none;
    border: none;
    background-color: #2c3e50;
    color: white;
}
.pick-buttons button:hover {
    cursor: pointer;
}

.pick-buttons input {
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #54708c;
    color: white;
    border: none;
    outline: none;
}
</style>
