<template>
    <div id="app">
        <div id="nav">
            <BurgerMenu />
            <ul class="li">
                <router-link to="/">Home</router-link>
            </ul>
            <ul class="li">
                <router-link to="/about">About</router-link>
            </ul>
            <ul class="li">
                <router-link to="/gallery">Gallery</router-link>
            </ul>
            <ul class="li">
                <router-link to="/products">Products</router-link>
            </ul>
            <ul class="li">
                <router-link to="/contact">Contact</router-link>
            </ul>
            <div
                class="basket-menu-icon"
                v-on:click="basketOpen(), addCheckOutBtn()"
            >
                <font-awesome-icon :icon="['fas', 'shopping-cart']" />
                <span v-if="cartItemsCount > 0">{{ cartItemsCount }}</span>
            </div>

            <Basket :cartItems="cartItems" :updateCartItem="updateCartItem" />
        </div>
        <router-view :updateCartItem="updateCartItem" />
    </div>
</template>

<script>
import BurgerMenu from '@/components/BurgerMenu.vue';
import Basket from '@/components/Basket.vue';
import BasketService from '@/services/BasketService';
export default {
    components: {
        BurgerMenu,
        Basket
    },
    name: 'App',
    data() {
        return {
            cartItems: [],
            cartItemsCount: 0
        };
    },
    watch: {
        cartItems() {
            this.cartItemsCount = Object.keys(this.cartItems).length;
        }
    },
    created() {
        const basketService = new BasketService();
        this.cartItems = basketService.getItems();
        this.cartItemsCount = Object.keys(this.cartItems).length;
    },
    beforeCreate() {
        localStorage.products = JSON.stringify([
            {
                id: 1,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 2,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 3,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 4,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 5,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 6,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 7,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 8,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 9,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 10,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 11,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            },
            {
                id: 12,
                name: 'Nutellovy sen',
                price: 1.2,
                minCount: 5,
                images: ['/images/chlebicek.jpg']
            }
        ]);
    },
    methods: {
        basketOpen() {
            const element = document.getElementById('Basket');
            element.classList.add('basket-open');
            const check = document.getElementById('items-in-basket');
            check.classList.add('basket-open-list');
            check.classList.remove('checkout-open-list');
            check.classList.remove('hide-basket');
        },
        addCheckOutBtn() {
            const el = document.getElementById('CheckOutBtn');
            el.classList.remove('checkout-btn-disable');
        },
        updateCartItem(id, pickCount = 0, deleteFlag = false) {
            const basketService = new BasketService();
            if (deleteFlag) {
                basketService.removeItems(id);
            } else {
                this.cartItems[id] = pickCount;
                basketService.updateItems(id, pickCount);
            }
            this.cartItems = basketService.getItems();
        }
    }
};
</script>

<style lang="scss">
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: ' ';
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

body {
    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;

    a {
        font-weight: bold;
        font-size: 1.2rem;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

#nav .bm-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 3rem;
}
.bm-burger-button {
    display: none;
}

.basket-menu-icon {
    padding: 19px 10px 19px 10px;
}
.basket-menu-icon:hover {
    cursor: pointer;
}

.basket-menu-icon span {
    border-radius: 50px;
    margin-left: 5px;
    padding: 5px 10px 2px 10px;
    background-color: #42b983;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#nav > div.basket-menu-icon {
    margin-left: 150px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
button {
    border: none;
    outline: none;
}

//Media

@media screen and (max-width: 800px) {
    #nav {
        position: fixed;
        left: 0;
        width: 100%;
        background-color: rgba(195, 195, 197, 0.8);
        z-index: 1000;
    }
    #nav > ul {
        display: none;
    }
    #nav > div > div > div.bm-menu > nav > ul > li > a {
        display: block;
    }
    .bm-burger-button {
        display: block;
    }
    #nav > div.basket-menu-icon {
        margin-left: 75%;
    }
    .products-container,
    .gallery-container {
        padding-top: 95px;
    }
}

@media screen and (max-width: 500px) {
    #nav {
        padding-left: 0;
    }
}
</style>
